{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="months" style="display: none;">{{ months|safe }}</div>
<div id="counts" style="display: none;">{{ counts|safe|default:"[]" }}</div>
<div id="totalPigs" style="display: none;">{{ total_pigs }}</div>
<div id="vaccinatedPigs" style="display: none;">{{ vaccinated_pigs }}</div>
<div id="salesData" style="display: none;">{{ sale_counts|safe }}</div>
<div id="saleMonths" style="display: none;">{{ sale_months|safe }}</div>
<div id="mortalityData" style="display: none;">{{ mortality_counts|safe }}</div>
<div id="mortalityDates" style="display: none;">{{ mortality_dates|safe }}</div>

<div class="col py-3 custom-padX" style="height: 17rem;">
  <div class="row py-3 ms-3 gap-5">
      <div class="bg-primary card px-2 rounded" style="width: 25rem; height: 15rem;">
        <div class="col col-auto card-body card-font d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-between">
                <img src="{% static 'img/pig_logo.png' %}" style="height: 120px;" alt="...">
                <p class="px-1 fs-3 text-white"> Pigs </p>
            </div>
            <div class="py-3 my-3">
                <span class="text-white p-0 fw-bold" style="font-size:500%">{{ pig_list_more_88_days.count }}</span>
            </div>
        </div>
      </div>
      <div class="bg-warning card px-2 rounded" style="width: 25rem; height: 15rem;">
        <div class="col col-auto card-body card-font d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-between">
                <img src="{% static 'img/piglets.png' %}" style="height: 120px;" alt="...">
                <p class="px-1 fs-3 text-white"> Piglets </p>
            </div>  
            <div class="py-3 my-3">
                <span class="text-white p-0 fw-bold" style="font-size:500%">{{ pig_list_88_days.count }}</span>
            </div>
        </div>
      </div>
      <div class="bg-danger card px-2 rounded" style="width: 25rem; height: 15rem;">
        <div class="col col-auto card-body card-font d-flex justify-content-between">
            <div class="d-flex flex-column justify-content-between">
                <img src="{% static 'img/feeds_logo.png' %}" style="height: 120px;" alt="...">
                <p class="px-1 fs-3 text-white"> Feed Stock </p>
            </div>  
            <div class="py-3 my-3">
                <span class="text-white p-0 fw-bold" style="font-size:500%">{{ feed_stock.count }}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="row ms-3">
          <div class="card px-2 custom_sched_box" id="scheduleToday">
            <div class="mt-2 schedule_header">SCHEDULE TODAY:</div>
            {% if today_tasks %}
            {% for task in today_tasks %}
            <div class="mt-2 p-2 custom_sched_tab">
                {{ task.task_name }}
                <label class="checkbox-container">
                    <input
                    type="checkbox"
                    data-task-id="{{ task.id }}"
                    {% if task.is_done %}checked{% endif %}
                    onchange="updateTaskStatus(this)"
                    >
                    <span class="checkmark"></span>
                  </label>
              </div>
              {% endfor %}
              {% else %}
              <img src="{% static 'img/No_Task.png' %}" alt="No Tasks Today Image" class="no-task-img">
              <p class="no-tasks-text">No Tasks Today.</p>
              {% endif %}
          </div>
          <div id="calendar" class=""></div>
    </div>
</div>
{% endblock %}
